@import 'bootstrap';
@import 'font-awesome';

a {
  color: white;
}

a:hover{
  text-decoration: none;
}

body {
  background-color: #124d5b;
}

i {
  color: #F7A81E;
}

label {
  color: white;
}

table {
  margin-top: 10px ;
  

}

tbody {
  counter-reset: rowNumber;
}

th {
  background: #d9534f;
  color: white;
  padding: 3px 3px;
  font-weight: 100;
  
}

td {
  padding: 2px 5px 2px 5px;
  
  align-items: center;
}

    

tbody tr {
    counter-increment: rowNumber;
}

tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

.dino {
  
  background-image: url('dino-volcano.jpg');
  background-position: top right; 
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #000;
  height: 400px;
  width: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}



.dino img {
  /* position: absolute; */
  /* bottom: 0; */
  right: 10px;
  width: 100%;
  margin-top: auto;
  display: flex;
}


.dino-name {
  font-size: 58px;
}


.icon {
  height: 35px;
  width: auto;
  margin-bottom: 0px;
}





.keep {
  margin-right: 5px;
}

.main {
  
  color: #F7A81E;
  font-family: 'intro_rust_gbase_2_line', helvetica, sans-serif;
  text-shadow: 1px 1px 2px #000; 
}

.name {
  color: white;
}

.nav-item {
  color: white;
}

.nav-item a:hover{
  color: #F7A81E;

}


.navbar-brand {
  margin-top: 0px;
  font-size: 13px;
}

.title {
  margin-top: 20px;
  padding: 10px 30px 10px 30px;
  text-align: center;
}

.btn-group-lrg {
  
  display: inline;
  /* opacity: 0.7; */
  ;
}

.btn-group-lrg > .btn  {
  height: 45px;
  box-shadow: 1px 1px 4px #000;
}

.top-dinos{
  text-transform: uppercase;
  color: #F7A81E;

}

.yourDinoname {
  
  background-image: url('volcano-big.jpg');
  /* background-position: top right; */
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  text-align: center;
  
}
