@import 'bootstrap';
@import 'font-awesome';


body {
  background-color: #124d5b;
}

label {
  color: white;
}

.dino {
  
  background-image: url('volcano.jpg');
  background-position: top right;
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #000;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
}



.dino img {
  // position: absolute;
  // bottom: 0;
  right: 10px;
  width: 100%;
  margin-top: auto;
  display: flex;
}


.dinoname {
  font-size: 8px;
}

.dino-head {
  
}

.main {
  align-content: center;
  color: #F7A81E;
  font-family: 'intro_rust_gbase_2_line';
}

.name {
  color: white;
}

.nav-item {
  color: white;
}

.nav-item a:hover{
  color: #F7A81E;
}

.icon {
  height: 35px;
  width: auto;
  margin-bottom: 0px;
}

.navbar-brand {
  margin-top: 0px;
  font-size: 13px;
}

.title {
  margin-top: 20px;
  padding: 10px 0px 10px 0px;
}

.yourDinoname {
  
  background-image: url('volcano-big.jpg');
  // background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  text-align: center;
  
}
