@import 'bootstrap';


body {
  background-color: #124d5b;
}

label {
  color: white;
}

.dino {
  
  background-image: url('volcano.jpg');
  background-position: top right;
  background-size: 500px;
  background-attachment: local;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #000;
  height: 200px;
  position: relative;
}



.dino img {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.dinoname {
  font-size: 8px;
}

.dino-head {
  position: absolute;
}

.main {
  align-content: center;
  color: #F7A81E;
}

.name {
  color: white;
}

.icon {
  height: 35px;
  width: auto;
  margin-bottom: 0px;
}

.navbar-brand {
  margin-top: 0px;
  font-size: 13px;
}

.title {
  margin-top: 20px;
  padding: 10px 0px 10px 0px;
}
